<h1><%= @article.title%></h1>
<p><%= @article.content %></p>
<%= link_to "éditer", edit_article_path %>
<%= link_to "Supprimer", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"} %>

